body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.subscribe{
    /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
    background-color: rgb(253, 251, 251);
    
    
}
.card{
    box-shadow: 0px 5px 5px 0px rgb(127, 133, 127);
    border-radius: 20px;
}
.cus:hover{
    background-color: rgb(255, 180, 37) !important;
}
.confirm{
    max-width: 700px;
    background-color: rgb(253, 251, 251);
}
input.form-control{
    border: none !important;
    border-bottom: 2px solid green !important;
    
}